@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: #121212;
}

.about-1 {
  margin-left: -13px;
  background: #000 !important;
  margin-bottom: -10px;
}
.card-believe{
  background: #121212 !important; 
}
.about-2{
  background: #121212 !important; 
}
.bg-background{
  background: #121212 !important; 
}
.container-about {
  position: relative;
  overflow: hidden !important;
  max-width: 100%;
  margin-top: -20px !important;
}

.top-left-bg {
  left: 0 !important;
  top: 0 !important;
  margin-top: -100px !important;
  opacity: 1;
}

.top-right-bg {
  right: 0 !important;
  top: 0 !important;
  margin-top: -100px !important;
  opacity: 1;
  /* transform: rotate(90deg) !important; */

}

.bg-top-row {
  position: absolute !important;
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
  max-width: 100% !important;
  overflow: hidden !important;
}

.top-bg {
  margin-right: -13px !important;
  width: 100% !important;
  height: auto !important;
  display: block;
  margin-top: -20px;
  transform: rotate(180deg);
}
.bottom-bg {
  width: 100%;
  height: auto;
  display: block;
}
.about-1:hover {
}

.about-banner-btn {
  border: 2px solid #1e1e1e !important;
  color: #edeef0 !important;
  font-family: "Barlow", sans-serif;
  border-radius: 8px !important;
  padding: 4px 8px !important;
  margin-top: 70px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  text-wrap: nowrap;
  width: fit-content;
  background-color: #191919; /* Background color */
  /* opacity: 0.5; */
}


.about-banner-btn {
  border: 2px solid #1e1e1e !important;
  color: #edeef081 !important; /* Initial text color */
  font-family: "Barlow", sans-serif;
  border-radius: 8px !important;
  padding: 4px 8px !important;
  margin-top: 70px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  text-wrap: nowrap;
  width: fit-content;
  /* opacity: 0.5 !important; */
  cursor: default; /* Default cursor */
	background-image: linear-gradient(
		90deg,
		#191919 55%, /* font color */
		#ffffff 60%,
		#191919 65% /* font color */
	);
	background-size: 500% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: shine 5s infinite;
}

@keyframes shine {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


  

.row-content-about {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 50px !important;
  height: 75px !important;
}
.arrow-right-content {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: flex-end;
  width: 10% !important;
}
.arrow-right-content-1 {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: flex-end;
  width: 14% !important;
}
.arrow-left-content {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: flex-end !important;
  width: 10% !important;
  text-wrap: nowrap;
}
.arrow-left-content-1 {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: flex-end !important;
  width: 14% !important;
  text-wrap: nowrap;
}
.arrow-space-center {
  visibility: hidden !important;
  width: 29% !important;
  text-wrap: nowrap;
}
.about-head {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-family: "Barlow", sans-serif;
  font-size: 58px;
  margin-top: -20px;
  text-wrap: nowrap;
}

.img-particles-container {
  position: relative !important;
  width: 300px !important;
}

#particles-js {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1 !important; /* Behind the image */
}

.img-center-about img {
  position: relative !important;
  z-index: 2 !important; /* In front of particles */
  display: block !important;
  margin: 0 auto !important;
  padding-top: 30px;
}
.right-up-arrow {
  margin-top: -39px !important;
}
.left-up-arrow {
  margin-top: -39px !important;
}
.about-1 h4 {
  font-size: 44px;
  background: linear-gradient(270.23deg, #c7fb15 0%, #ccff14 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}
.about-1 p {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  opacity: .6 !important;
  padding: 0px 30px 0px 30px;
  font-weight: 400 !important;
}
.para-banner{
  padding: 0px 100px 0px 100px !important;
  opacity: .5;
}
.bottom-bg {
  background: url("/unitywebsites/assets/img/bottom-banner.svg") no-repeat
    center center;
  background-size: cover;
  height: 150px;
}
.our-services {
  font-size: 24px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  margin-top: -100px;
  letter-spacing: -2px;
}
.about-2 .header-underline {
  margin-top: -40px;
  margin-left: -28px;
}
.about-2 .card-bg-about {
  background: url(/unitywebsites/assets/img/bg-about-page.svg);
  /* border-image: url(/unitywebsites/assets/img/scroll-project.png); */
  width: auto;
  height: 650px !important;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 110px;
  padding-top: 70px;
  margin-top: -55px !important;
}
.about-2 .scroll-bg {
  /* height: 600px !important; */
  /* padding: 70px 5px 0px 30px; */
  width: 500px;
  border-radius: 25px !important;
}
.about-2 .text-heading {
  font-size: 38px;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  font-weight: 600;
  opacity: .6;
}
.about-2 .padding-head {
  padding: 60px 85px 0px 10px;
  font-family: "Barlow", sans-serif;
  opacity: .6;
}
.about-2 p {
  text-align: left !important;
}
.about-2 ul li {
  font-family: "Barlow", sans-serif;
  padding: 0px 50px 0px 0px;
  color: #ffffff;
  list-style: none;
  opacity: .6;
}
.card-bg-about {
  position: relative;
  overflow: hidden; /* Ensure no overflow */
  /* Add other styles as needed */
  transition: ease 1s;
}
.card-bg-about-1 h6 {
  margin: 0px 0px 30px 30px;
}

.card-bg-about:hover img.scroll-bg {
  /* background: url(/unitywebsites/assets/img/scroll-gif.gif) no-repeat center center; */
  background-size: cover;
  /* height: 500px !important; */
  width: 500px;
  padding: 40px 20px 0px 0px;
  border-image: linear-gradient(270.23deg, #c7fb15 0%, #ccff14 100%);
  transform: scale(1.05);
}

.card-bg-about:hover .project-img {
  position: absolute;
  /* left: 10%; */
  z-index: 2;
  width: 500px;
  height: 533px;
  padding: 40px 20px 0px 0px;
  transform: scale(1.05);
}

.about-2 .header-underline-1 {
  margin-top: -40px;
  margin-left: -20px;
  width: 553px;
}
.about-2 .header-underline-2 {
  margin-top: -40px;
  margin-left: -20px;
  width: 440px;

}
.our-services-1 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  margin-top: -120px;
  letter-spacing: -2px;
}
.scroll-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.project-img {
  position: absolute;
  /* left: 10%; */
  z-index: 2;
  width: 500px;
  height: 533px;
  padding: 40px 20px 0px 0px;
  transition: ease .5s;
}

.scroll-bg {
  position: absolute;
  top: 0;
  /* padding: 70px 25px 0px 25px; */
  left: 0;
  width: 100%; /* Ensure it covers the entire container */
  z-index: 1;
  width: 480px;
  height: 533px !important; /* Layer it behind the project image */
  padding: 40px 20px 0px 0px;
  transition: ease .5s;
}
.plus-bg-1 {
}
.believe-h1 {
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 36px;
  font-weight: bold;
}
.believe-h1 span {
  color: #cafe15;
  font-family: "Barlow", sans-serif;
  font-size: 36px;
  text-transform: capitalize !important;
  font-weight: bold;
}
.circle-services {
  width: auto; /* Set the width */
  height: 700px; /* Set the height */
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out; /* Smooth transition */
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.circle-services:hover {
}
/* .card-believe{
    background: url(/unitywebsites/assets/img/services-bg-1.png) !important;
    height: 200px;
    background-size: 100%;
    padding: 20px 0px;
    background-repeat: no-repeat;
  } */

.services-bg {
    position: relative;
    width: 100%;
    height: auto; /* Adjust based on content */
}

.services-bg-image {
    width: 100%;
    height: auto; /* Keep the image responsive */
    object-fit: cover;
    
}

.image-container-card {
    position: absolute;
    top: 20%; /* Adjust to position this as per your design */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-circle {
    position: absolute;
    width: 100px;  /* Adjust the size of the green circle */
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bow-arrow {
    position: absolute;
    width: 50px;  /* Adjust the size of the bow-arrow */
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Position the text absolutely below the image container */
.mission {
    font-size: 24px;
    color: #66BE53;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.mission-text {
    position: absolute;
    margin: 0;
    color: #ffffff;
    top: 55%;
    font-size: 16px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    font-weight: 400 !important;
}
.img-container img {
    position: absolute;
}
.our_service-about {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-top-right-radius: 47px; /* Rounded top-right corner */
  z-index: -100; /* Adjusted stacking order */
}

    .believe-content > div{
        position: relative !important;
    }
    .our_service-about .bg-img {
        position: relative;
        z-index: 1;
    }
    .our_service-about .believe-content{
        position: absolute;
        z-index: 7;
        top: 0;
        padding-top: 80px;
    }

    .our_service-about .bg-img img {
        width: 100%;
        height: 100%;
    }
    .our_service-title{
        transition: ease .5s;
        transform: scale(1) !important;
        position: absolute !important;
        height: 85px;
    }

    .our_service-about:hover .our_service-title{
        transform: scale(1) !important;
        height: 85px;
    }
    .our_service-about img {
        /* transition: ease 1s; */
        position: absolute;
        width: 100%;
        object-fit: contain;
        left: 0;
        height: 85px;
        top: 0;
        position: relative;
    }
    
    .our_service-about > div {
        text-align: center;
        margin: 0 auto;
        /* width: 90%;
        position: relative;
        z-index: 10; */
    }
    
    .our_service-about {
        position: relative;
        overflow: hidden; /* Ensure child elements stay within bounds */
    }
    
    .bg-img {
        position: relative;
        overflow: hidden;
        z-index: 1; /* Ensure it's on top of the background circle */
        /* border-radius: 27px; */
    }
    
    .our_service-about:hover .bg-img{
     border-radius: 20px !important;
    z-index: -100;
  }
  .our_service-about:hover{
    margin-top: -15px;
    transition: ease .5s !important;
 }

    .our_service-about:hover .bg-img::after{
        width: 200px;
        height: 200px;
        overflow: hidden;
        background-image: linear-gradient(to bottom, rgba(76, 168, 82, 0.715) 90%,#29642d 90% ) !important;
        z-index: -100;
        border:2px solid #191919 !important;
        border-top-right-radius: 47px !important; /* Rounded top-right corner */
        transition: ease .5s;
    }

    .bg-img::after {
        content: "";
        position: absolute;
        top: 27%;
        left: 50%;
        width: 80px; /* Initial size of the circle */
        height: 80px;
        background: radial-gradient(
          circle,
          rgba(143, 254, 21, 0.625) 31%,
          rgba(20, 255, 135, 0.81) 94%
        );
      
        transform: translate(-50%, -50%) scale(0); /* Center and scale down */
        opacity: 0; /* Start invisible */
        transition: transform 0.5s ease, opacity 0.5s ease; 
        z-index: 6; /* Ensure it's behind the content */
        overflow: hidden;
       border-radius: 50%;
      
    }
    
    .our_service-about:hover .bg-img::after {
        transform: translate(-50%, -50%) scale(5); /* Expand the circle on hover */
        opacity: 0.5; /* Adjust the opacity for hover effect */
        border-top-right-radius: 70px !important;
    }
    
    .our_service-title {
        position: relative;
        transform: scale(1) !important;
        z-index: 2; /* Ensure it's above the background circle */
        /* transition: transform 0.5s ease, opacity 0.5s ease; */
    }
    
    .our_service-about:hover .our_service-title {
        transform: translate(0,0) scale(1) !important;
        opacity: 0.8; /* Reduce opacity slightly for blending */
        height: 85px;
    }
    
    /* Handle hover effects */
    .our_service-about img:nth-child(2) {
        opacity: 0;
    }
    
    .our_service-about:hover img:nth-child(1) {
        opacity: 0;
    }
    
    .our_service-about:hover img:nth-child(2) {
        opacity: 1;
    }
    
    .our_service-about .bg-img img:nth-child(2) {
        display: none;
    }
    
    /* Make the second bg image visible on hover */
    .our_service-about:hover .bg-img img:nth-child(1) {
        display: none;
    }
    
    .our_service-about:hover .bg-img img:nth-child(2) {
        display: block;
    }

    .believe-content p{
        text-align: center !important;
        padding: 0px 40px 0px 40px !important;
        color: #fff;
        opacity: .6;
    }
    .our_service-about:hover    .believe-content p {
      color: #fff;
      opacity: 1;

  }
  .bg-img:hover{
border-top-right-radius: 40px !important;
  }
.our_service-about:hover .mission {
  font-size: 24px;
  color: #66BE53;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
@media screen and (min-width: 0px) and (max-width: 900px) {
  .our-services-1 {
    font-size: 17px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    color: #ffffff;
    margin-top: -120px;
    letter-spacing: -2px;
  }
  .bottom-bg {
    background: url(/unitywebsites/assets/img/bottom-banner.svg) no-repeat center center;
    background-size: cover;
    height: 100px !important;
}
  .about-2 ul li {
    font-family: "Barlow", sans-serif;
    padding: 0px 50px 0px 0px;
    color: #ffffff;
    font-size: 12px !important;
    list-style: none !important;
    text-align: center;
    opacity: .6;
}
.bi-dot{
  display: none;
}
.para-banner {
  padding: 0px 20px 0px 50px !important;
}
.project-img {
  position: absolute;
  z-index: 2;
  width: 100% !important;
  height: auto !important;
  padding: 0px 10px 0px 10px;
}
.about-2 .scroll-bg {
  width: 100% !important;
  border-radius: 25px !important;
}
.scroll-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  z-index: 1;
  height: auto !important;
  padding: 0px 10px 0px 10px;
}
.about-2 h6 {
  text-align: center !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.card-bg-about:hover img.scroll-bg {
  /* background: url(/unitywebsites/assets/img/scroll-gif.gif) no-repeat center center; */
  background-size: cover;
  height: auto !important;
  width: 100% !important;
  padding: 0px 10px 0px 10px !important;
  /* border-image: linear-gradient(270.23deg, #c7fb15 0%, #ccff14 100%); */
}
.about-2 .card-bg-about {
  background: #121212 !important;
  /* border-image: url(/unitywebsites/assets/img/scroll-project.png); */
  width: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 110px !important;
  padding-top: 10px !important;
  margin-top: 30px !important;
}
  .about-banner-btn {
    display: none !important;
  }
  .right-up-arrow {
    display: none !important;
  }
  .left-up-arrow {
    display: none !important;
  }
  .particles {
    display: block !important;
  }
  #particles-js {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 55% !important;
    margin-top: 130px;
    z-index: 1 !important;
}
  .top-bg {
    height: 130px !important;
  }
  .bottom-bg {
    display: none;
  }
  .top-right-bg {
    height: 130px;
    margin-left: 65% !important;
    margin-top: -150px !important;
    /* transform: rotate(90deg); */
  }
  .top-left-bg {
    height: 180px;
    margin-left: -60px !important;
  }
  .img-center-about {
    margin-top: 150px;
  }
  .about-head {
    margin-top: 30px !important;
  }
  .about-1 h4 {
    font-size: 24px !important;
    background: linear-gradient(270.23deg, #c7fb15 0%, #ccff14 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    padding: 0px 30px 0px 30px;
  }
  .about-head {
    text-align: center !important;
    color: #fff;
    font-weight: 700;
    font-family: "Barlow", sans-serif;
    font-size: 32px !important;
    margin-top: -20px;
    text-wrap: nowrap;
   
  }
  .plus-bg {
    display: none !important;
  }

  .about-1 p {
    font-size: 14px !important;
  }
  .our-services {
    margin-top: 0px !important;
    text-align: center !important;
  }
  .about-2 .header-underline {
    text-align: center;
    width: 170px;
    justify-content: center;
    margin-left: 20px;
    margin-top: -35px !important;
}
  .about-2 h6 {
    text-align: center;
    margin-top: -20px;
    margin-left: 40px;
  }
  .plus-bg-1 {
    display: none;
  }
  .circle-services {
  display: none;
}
    .about-2 .header-underline-1 {
        width: 100% !important;
        margin-left: 0px;
        margin-top: -28px;
    }
.our-services-1 {
    margin-top: 0px !important;
    text-align: center !important;
    letter-spacing: -2px;
  }
  .believe-h1 {
    font-size: 20px !important;
    text-align: center;
}
  .believe-h1 span{
    font-size: 24px !important;
    text-align: center;
  }
 /* .about-2 .card-bg-about-1 {
  background-image: linear-gradient(to right, #172211, #010C12) !important;
    padding: 30px 0px 10px 10px;
    margin-left: 10px;
    border: 2px solid green;
    border-radius: 25px;
    width: auto;
  }  */
  .circle-tab{
    display: none;
  }
  .project-img {
    position: relative !important;
  }
  .about-2 .padding-head{
    text-align: center !important;
    padding: 0px 10px 0px 10px !important;
    font-size: 12px;
    opacity: .6;
  }
  .mobile-reverse{
    display: flex;
    flex-direction: column-reverse !important;
  }
  .about-2 .text-heading {
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    color: #ffffff;
    font-weight: 600;
    opacity: .6;
}
.card-about-desktop{
  display: none !important;

}
}

@media screen and (min-width:810px) and (max-width:2000px) {
  .top-right-bg {
    right: 0 !important;
    top: 0 !important;
    margin-top: -150px !important;
    opacity: 1;
    /* transform: rotate(90deg) !important; */
}
  .card-about-mobile img{
    margin-top: 20px !important;
  }
  .mobile-view-card1{
    display: none !important;
  }
  .card-about-mobile{
    display: none !important;
  }
        .card-about-desktop{
        display: flex !important;

      }
    /* .circle-services{
    display:block  !important;
    width: 100%;
    } */
    .circle-mob{
        display: none !important;
    }
    .circle-tab{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
  .logo img {        width: 150px;
  }
}