@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
    background: #121212;
}
.about-1{
    margin-left: -13px;
    background: #000 !important;
}
.container-about {
    position: relative;
    overflow: hidden !important;
}

.top-left-bg {
    left: 0 !important;
    top: 0 !important;
    margin-top: -100px !important;
}

.top-right-bg {
    right: 0 !important;
    top: 0 !important;
    margin-top: -100px !important;
}

.bg-top-row {
    position: absolute !important;
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow: hidden !important;
   
}

.top-bg {
    margin-right: -13px !important; 
    width: 100% !important;
    height: auto !important;
    display: block;
    margin-top: -20px;
    transform: rotate(180deg);
}
.bottom-bg {
    width: 100%;
    height: auto;
    display: block;
}
.about-1:hover{

}

.about-banner-btn {
    border: 2px solid #1E1E1E !important;
    color: #EDEEF0 !important;
    font-family: "Barlow", sans-serif;
    border-radius: 8px !important;
    padding: 4px 8px !important;
    margin-top: 70px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    background-color: #191919; /* Background color */
    opacity: .5;
}

.about-banner-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    background: radial-gradient(circle, #ffffff 10%, rgba(255, 255, 255, 0.063) 70%);
    border-radius: 50%;
    z-index: 1;
    opacity: 1;
    animation: moveFog 3s infinite linear;
    transform: translateY(-50%);
}
@keyframes moveFog {
    0% {
        left: -20%; /* Start position off-screen to the left */
        opacity: 1; /* Fully visible */
    }
    50% {
        left: 50%; /* Center position */
        opacity: 1; /* Fully visible */
    }
    100% {
        left: 120%; /* End position off-screen to the right */
        opacity: 0; /* Fade out */
    }
}



.row-content-about{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 50px !important;
   height: 75px !important;
}
.arrow-right-content{
    display: flex !important;
    flex-wrap: nowrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: flex-end;
    width: 10% !important;
}
.arrow-right-content-1{
    display: flex !important;
    flex-wrap: nowrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: flex-end;
    width: 14% !important;
}
.arrow-left-content{
    display: flex !important;
    flex-wrap: nowrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: flex-end !important;
    width:10% !important;
    text-wrap: nowrap;
}
.arrow-left-content-1{
    display: flex !important;
    flex-wrap: nowrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: flex-end !important;
    width: 14% !important;
    text-wrap: nowrap;
}
.arrow-space-center{
    visibility: hidden !important;
    width: 29% !important;
    text-wrap: nowrap;
}
.about-head{
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-family: "Barlow", sans-serif;
    font-size: 58px; 
    margin-top: -20px;
    text-wrap: nowrap;
}

.img-particles-container {
    position: relative !important;
    width: 300px !important;
  }
  
  #particles-js {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important; 
    z-index: 1 !important; /* Behind the image */
  }
  
  .img-center-about img {
    position: relative !important;
    z-index: 2 !important; /* In front of particles */
    display: block !important;
    margin: 0 auto !important;
    padding-top:30px ;
  }
  .right-up-arrow{
    margin-top: -39px !important;
  }
  .left-up-arrow{
    margin-top: -39px !important;
  }
  .about-1 h4 {
    font-size: 44px;
    background: linear-gradient(270.23deg, #C7FB15 0%, #CCFF14 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
  }
  .about-1 p{
    color: #ffffff;
    font-size: 16px;
text-align: center;
padding: 0px 30px 0px 30px;
font-weight: 400 !important;
  }
  .bottom-bg {
    background: url('/unitywebsites/assets/img/bottom-banner.svg') no-repeat center center;
    background-size: cover;
    height: 150px;
}
.our-services{
    font-size: 24px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    color: #FFFFFF;
    margin-top: -100px;
}
.about-2 .header-underline{
    margin-top: -40px;
    margin-left: -40px;
} 
.about-2 .card-bg-about{
    background: url(/unitywebsites/assets/img/about-2-bg.png);
    /* border-image: url(/unitywebsites/assets/img/scroll-project.png); */
    width: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 110px;
    padding-top: 70px;
    margin-top: -55px !important;
}
.about-2 .scroll-bg{
    /* height: 600px !important; */
    /* padding: 70px 5px 0px 30px; */
    width: 500px;
    border-radius: 25px !important;
}
.about-2 .text-heading{
    font-size: 40px;
    font-family: "Barlow", sans-serif;
    color: #FFFFFF;
    font-weight: 600;
}
.about-2 .padding-head{
    padding: 60px 85px 0px 10px;
    font-family: "Barlow", sans-serif;
}
.about-2 p{
    text-align: left !important;
}
.about-2 ul li{
    font-family: "Barlow", sans-serif;
    padding: 0px 50px 0px 0px;
    color: #ffffff;
    list-style: none;

}
.card-bg-about {
    position: relative;
    overflow: hidden; /* Ensure no overflow */
    /* Add other styles as needed */
 
}
.card-bg-about-1 h6{
    margin: 0px 0px 30px 30px;
}

.card-bg-about:hover img.scroll-bg {
    /* background: url(/unitywebsites/assets/img/scroll-gif.gif) no-repeat center center; */
    background-size: cover;
    /* height: 500px !important; */
    width: 500px;
    padding: 50px 20px 0px 27px;
    border-image:linear-gradient(270.23deg, #C7FB15 0%, #CCFF14 100%) ;
}

.card-bg-about:hover {
   
}

.about-2 .header-underline-1{
    margin-top: -40px;
    margin-left: -30px;
} 
.our-services-1{
    font-size: 24px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    color: #FFFFFF;
    margin-top: -120px;
}
.scroll-container {
    position: relative;
    display: inline-block;
    width: 100%; 
    height: auto;
  }
  
  .project-img {
    position: absolute;
    /* left: 10%; */
    z-index: 2;
    width: 500px;
    height: 533px;
    padding: 50px 20px 0px 27px;
  }
  
  .scroll-bg {
    position: absolute;
    top: 0;
    /* padding: 70px 25px 0px 25px; */
    left: 0;
    width: 100%; /* Ensure it covers the entire container */
    z-index: 1; 
    width: 480px;
    height: 533px !important;/* Layer it behind the project image */
    padding: 50px 21px 0px 28px;
  }
  .plus-bg-1{

  }
