body{
    background: #121212;
}
.container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.top-left-bg {
    left: 0;
    top: 0;
    margin-top: -20px;
}

.top-right-bg {
    right: 0;
    top: 0;
    margin-top: -20px;
}

.bg-top-row {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.top-bg {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -20px;
    transform: rotate(180deg);
}
.bottom-bg {
    width: 100%;
    height: auto;
    display: block;
}
/* .img-center-about{
    text-align: center;
} */
.about-1:hover{

}

.about-banner-btn{
    background-color: #191919;
    border: 2px solid #1E1E1E;
    color: #fff !important;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
}
.row-content-about{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
   height: 75px;
}
.arrow-right-content{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    width: 12%;
}
.arrow-left-content{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    width: 12%;
}
.arrow-space-center{
    visibility: hidden !important;
    width: 29%;
}
.about-head{
    text-align: center;
    color: #fff;
    font-size: 58px;
}

.img-particles-container {
    position: relative;
  }
  
  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Behind the image */
  }
  
  .img-center-about img {
    position: relative;
    z-index: 2; /* In front of particles */
    display: block;
    margin: 0 auto;
  }
  