.footer {
  background-color: black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer .logo img {
  max-width: 150px;
}
.logo-box{
  text-align: left;
}
.footer .logo p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;

  line-height: 28px;

  font-weight: 500;
}

.footer .footer-links a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.footer .footer-links a:hover {
  color: #C7FB15;
}
.footer .footer-links {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 20px;
  opacity: 0.7;
  font-weight: 500;
}

.footer .address {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  text-transform: uppercase;

  opacity: 0.7;
}
.footer .logo {
  max-width: 300px;
}

.footer h5{
    text-transform: uppercase;
  }
  /* Back to Top Button Styles */
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px; /* Adjust based on your image size */
  height: 50px;
  display: none; /* Hidden by default */
  z-index: 1000; /* Ensure it stays on top */
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.back-to-top:hover {
  opacity: 1;
}

.back-to-top img.arrow-active {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.back-to-top:hover img.arrow-inactive {
  display: none;
}

.back-to-top:hover img.arrow-active {
  display: block;
}
@media screen and (max-width: 900px) {
  .footer .logo {
    text-align: center;
    max-width: 100%;
  }
  .footer .address {
    font-size: 16px;
  }

  .footer .footer-links li {
    font-size: 16px;
  }
 

}

@media screen and (max-width: 768px) {
.logo-box{
  text-align: center;
}
.footer{
  text-align: center;
}
.f-row{
  flex-direction: column;
}
.footer-links{
  flex-direction: column;
}
}