@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212 !important;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}
.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #cafe15;
}

.feature-box {
  background-color: #000;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  border: 1px solid #262525;
}

.feature-box i {
  font-size: 30px;
  margin-right: 15px;
  padding: 1px;
  margin-left: 13px;
}

.fluid-video {
  width: 100%;  /* Ensure the video takes up the full width of the container */
  height: auto !important; /* Maintain aspect ratio */
  display: block; /* Removes any default margins */
  border: 3px solid #cafe15; /* Set your desired border size and color */
  box-sizing: border-box; /* Include the border in the element’s total width and height */
}

.fluid-video source {
  display: block;
}

.video-container {
  overflow: hidden; /* Ensure the video doesn't overflow */
  max-width: 100%;  /* Ensure the video scales properly */
}

.section-padding {
  padding: 40px 0;
}
.section-padding p {
  color: #fff;
}
.video-file {
  padding: 30px;
  overflow: hidden;
}
.fluid-video {
  max-width: 100% !important;
  height: 100% !important;
  position: relative;
  top: 0px;
  bottom: 0px;
  border-radius: 8px;
}
.business-section {
  background-color: #212121; /* Dark background */
  color: #fff !important;
  text-align: center;
  padding: 25px 0;
}

.business-section h1 {
  font-weight: bold;
  font-size: 2rem;
}
.specializations {
  margin-top: 35px !important;
}
.business-section h1 span {
  color: #cafe15; /* Highlighted text in green */
}

.btn-join {
  border: 2px solid #cafe15; /* Green border */
  color: #cafe15;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-join:hover {
  background-color: #cafe15;
  color: #000;
}
.business-section p {
  margin: 20px 0;
  color: #ccc !important;
  font-size: 1rem;
  padding: 0 288px !important;
}
.business-section {
  padding: 50px 0;
}
.business-section a {
  width: fit-content;
  margin: 0 auto;
  text-decoration: none;
}
.feature-box img {
  width: 50px;
  padding: 1px;
  margin-left: 11px;
}
.feature-box p {
  font-size: 16px;
  /* opacity: 0.6; */
  line-height: 20px;
  padding-left: 12px;
  /* font-size: 14px; */
}
.first-point {
  padding-right: 32px !important;
}
.first-points {
  padding-right: 93px !important;
}
.special-content {
  padding-right: 3rem !important;
  opacity: 0.7;
  font-size: 16px;
  font-weight: normal;
  /* word-spacing: 4px; */
  line-height: 22px;
}
.speciality-text p {
  opacity: 0.5;
  font-size: 14px;
}
.your-buisness {
  display: block;
}
.business-section {
  border-radius: 14px !important;
}
.normal {
  display: inline-block !important;
  margin-left: 345px;
}
.responsive {
  display: none !important;
  margin-left: 0px;
}
.designing-fonts{
  font-size: 40px !important;
  padding: 0 368px !important;
}

@media (max-width: 992px) {
  .fluid-video {
    width: 100%;  /* Ensure the video takes up the full width of the container */
    height: auto !important; /* Maintain aspect ratio */
    display: block; /* Removes any default margins */
    border: 2px solid #cafe15; /* Set your desired border size and color */
    box-sizing: border-box; /* Include the border in the element’s total width and height */

  }
 
  .section-padding{
    padding: 0px 0px !important;
  }
  .fluid-video source {
    display: block;
  }
  
  .video-container {
    overflow: hidden; /* Ensure the video doesn't overflow */
    max-width: 100%;  /* Ensure the video scales properly */
  }
  
  .image-box {
    padding: 0 2px 0 11px;
    /* height: 90% !important; */
    /* background: linear-gradient(
      302deg,
      var(--token-9c84d6ae-8e13-4694-8100-b9a50faaffa2, #cafe15) 0%,
      var(--token-8ba7e453-40da-4bbd-8367-83c5e27ec517, #cafe15) 100%
    ); */
    /* border: 3px solid #cafe15 !important;
    padding: 0.25rem !important; */
  }
  .designing-fonts{
    /* font-size: 40px !important; */
    padding: 0px 0px !important;
  }
  .specializations {
    margin-top: 0;
  }
  .speciality-text {
    text-align: center;
  }
  .business-section h1 {
    font-size: 1.5rem;
  }
  .first-point {
    padding-right: 0 !important;
  }
  .btn-join {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
  .business-section p {
    padding: 0 0px !important;
  }
  .first-points {
    padding-right: 0px !important;
  }
  .special-content {
    padding-right: 0rem !important;
  }
  .video-file {
    order: 10;
  }
  .specializations {
    order: 1;
  }
  .normal {
    display: none !important;
    margin-left: 0px;
  }
  .responsive {
    display: block !important;
    margin-left: 0px;
  }
  .feature-box-margin{
    margin-left: 1px !important;
  }
}
@media (max-width: 766px){
  .speciality-text p{
    padding: 0 10px 0 10px;
    /* text-align: center; */
  }
  .designing-fonts{
    font-size: 40px !important;
    padding: 0 16px !important;
  }
}
@media (min-width: 768px) and (max-width: 997px) {
  .image-box{
    padding: 0 2px 0 11px;
  }
  .feature-box-margin{
    margin-left: 1px !important;
  }
  .first-point {
    padding-right: 60px !important;
  }
  .first-points {
    padding-right: 124px !important;
  }
  .business-section p {
    margin: 20px 0;
    color: #ccc !important;
    font-size: 1rem;
    padding: 0 0px !important;
  }
  .video-file {
    order: 10;
  }
  .specializations {
    order: 1;
  }
  .normal {
    display: none !important;
    margin-left: 0px;
  }
  .responsive {
    display: block !important;
    margin-left: 0px;
  }
}
@media (min-width: 998px) and (max-width: 1200px) {
  .contact-card .card-body {
    width: 100%;
  }
  .fluid-video {
    width: 100%;  /* Ensure the video takes up the full width of the container */
    height: auto !important; /* Maintain aspect ratio */
    display: block; /* Removes any default margins */
    border: 5px solid rgb(99, 242, 91); /* Set your desired border size and color */
    box-sizing: border-box; /* Include the border in the element’s total width and height */
  }
  .designing-fonts{
    font-size: 40px !important;
    padding: 0 278px !important;
  }
  
  .fluid-video source {
    display: block;
  }
  
  .video-container {
    overflow: hidden; /* Ensure the video doesn't overflow */
    max-width: 100%;  /* Ensure the video scales properly */
  }
  
  .first-point {
    padding-right: 80px !important;
  }
  .first-points {
    padding-right: 124px !important;
  }
  .video-file {
    order: 10;
  }
  .specializations {
    order: 1;
  }
  .normal {
    display: none !important;
    margin-left: 0px;
  }
  .responsive {
    display: block !important;
    margin-left: 0px;
  }
}
