@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .bounce-2,
  .bounce-3,
  .bounce-4 {
    display: none;
  }
  .bounce-5 {
    width: 69px;
    position: absolute;
    bottom: -31px;
  }
  .landing {
    padding: 15px 0 0 0;
  }
  .landing-title-col {
    text-align: center;
  }
  .landing h2 {
    font-size: 27px;
  }
  .landing h2:nth-child(3) {
    display: block !important;
  }
  .landing h2.d-h2 {
    display: none !important;
  }
  .landing p {
    font-size: 13px;
  }
  .landing a {
    display: none;
  }
  .bounce-1 {
    width: 100px;
    top: 0;
    left: 31px;
  }
  .baner-right {
    width: 95%;
  }
  .logo img {
    width: 150px;
  }
  .bg-about {
    background: none;
  }
  .learn-more {
    text-align: center;
    margin-top: 40px;
    display: block;
  }
  .learn-more a {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
  }

  /* section about  */
  .about-section .title2 {
    text-align: center;
  }
  .bg-about {
    padding: 0;
    padding-top: 60px;
  }
  .about-section .title2 img {
    left: 53%;
    transform: translate(-50%, 0) !important;
  }
  .team-strenth {
    width: 100px;
    right: 35px;
    display: none;
    top: 29px;
  }
  .about-main img {
    height: auto;
    width: 100%;
  }
  .about-main img:nth-child(1),
  .about-main img:nth-child(2) {
    display: none !important;
  }
  .about-main img:nth-child(3) {
    display: block;
  }
  .bg-about:hover .team-strenth {
    transform: rotate(0deg) !important;
  }
  .bg-about:hover .team-strenth img:nth-child(1) {
    display: none;
  }
  .bg-about:hover .team-strenth img:nth-child(2) {
    display: inline-block;
  }
  .our_service_section h3 {
    margin: 25px 0;
  }
  .our_service-card ul {
    margin: 0;
  }
  .our_service-card li {
    font-size: 15px;
    line-height: 20px;
  }
  .our_service-card > div + div {
    height: 50px !important;
  }
  .about-right {
    padding: 60px 15px 0px 15px !important;
    text-align: center;
  }
  .about-right h3 {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -1px;
  }
  .about-right p {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .about-conntainer div img {
    width: 40px;
    height: 40px;
  }
  .about-conntainer div {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .about-conntainer div:nth-child(1) img {
    position: relative;
    left: 3px;
  }
  .about-conntainer div {
    margin: 20px 0;
  }

  .about-conntainer div:nth-child(3) img {
    position: relative;
    left: 6px;
  }

  /* section about   end*/

  /* our_service_section start */
  .about-section .aos-animate .shaking-text:nth-child(1){
      display: block !important;
  }
  .our_service_section h4,
  .our_service_section h3 {
    text-align: center;
  }
  .our_service_section h4 {
    font-size: 20px;
  }
  .our_service_section h3 {
    font-size: 24px;
  }
  .our_service-card::after {
    display: none;
  }
  .our_service_section .title2 img {
    left: 56%;
    width: 150px;
    bottom: 2px;
    transform: translate(-50%, 10px) !important;
  }
  .our_service-card .bg-img img {
    height: 315px;
  }
  .our_service-card {
    padding: 26px 20px 65px 20px;
  }

  /* our_service_section end */

  /* innovation section  */
  .innovation_section .title2 img {
    display: none;
  }
  .innovation_section {
    padding-top: 60px;
    padding-bottom: 0;
    text-align: center;
  }

  .innovation_right {
    padding: 15px !important;
  }
  .innovation_right h6 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .innovation_right h4 {
    font-size: 24px;
  }
  .innovation_right p {
    font-size: 16px;
  }
  .innovation_section .img-container img:nth-child(1) {
    display: block;
    width: 100%;
    height: auto;
  }
  .innovation_section a {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* for scroll animation  */

  .innovation_section .img-container .green-box {
    transform: rotate(-3deg);
    transition: ease 0.5s;
  }
  .innovation_section .img-container .yellow-box {
    transform: rotate(5deg);
    transition: ease 0.5s;
  }

  .innovation_section.active .img-container .green-box {
    transform: rotate(5deg);
  }
  .innovation_section.active .img-container .yellow-box {
    transform: rotate(-3deg);
  }

  /* animation end  */

  /* innovation section  end*/
  /* innovation section  start*/

  /* innovation section  end*/

  .faster_section {
    padding: 0;
    text-align: center;
  }
  .faster_section .row {
    flex-direction: column-reverse;
  }
  .faster_section {
    font-size: 13px;
  }
  .faster_section .title2 img {
    bottom: -11px;
    right: -8px;
    width: 280px;
    left: auto;
  }
  .magap20 {
    row-gap: 20px;
  }
  .magap30 {
    row-gap: 30px;
  }
  .innovation_section .img-container img,
  .green-box,
  .yellow-box {
    /* display: none; */
  }
  .faster_section .img-container img,
  .gradient_box,
  .img-container-2 {
    display: none;
  }
  .faster_section .img-container img:nth-child(2) {
    display: block;
    height: auto;
  }

  .faster_section .img-container {
    height: auto;
    margin-top: 40px;
  }
  .faster_section .img-container img {
    position: relative;
  }

  /* faster end */

  /* development_section start */
  .development_section .row.magap20 {
    gap: 40px;
  }
  .development_section {
    padding-top: 50px;
  }
  .development_section h4 {
    font-size: 16px;
  }
  .development_section h3 {
    font-size: 24px;
    padding-bottom: 35px;
  }
  .development_card_content {
    padding-top: 20px;
    margin-bottom: 28px;
  }
  .development_card_content p {
    margin: 11px 0;
    line-height: 20px;
    font-size: 13px;
  }
  .development_card_content .top img {
    width: 50px;
  }
  .development_card_content .top {
    font-size: 18px;
  }
  /* development_section end */
  /* testimoniel start */

  .testimoniel_section h4 {
    font-size: 24px;
  }
  .testimoniel_section p {
    font-size: 16px;
    display: block;
  }
  .slider-section .slick-prev {
    left: 32%;
    transform: translate(0%, -4px);
  }
  .slider-content h6 {
    font-size: 24px;
  }
  .slider-content img {
    width: 40px;
  }
  .slider-content .coute {
    width: 24px;
    margin-bottom: 6px;
  }
  .testimoniel_section .slider-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .slider-content img {
    width: 20px;
    margin-top: 10px;
  }
  /* testimoniel end */
  section {
    overflow: hidden;
  }
  .accordion-button::before {
    display: none;
  }
  .services_games_card:hover {
    box-shadow: none;
  }
  .faq_section h2 {
    font-size: 24px;
  }
  .about-conntainer .content-main p {
    font-size: 16px;
  }
  .content-main h2 {
    font-size: 22px;
  }
  .customer_care_content{
    padding-left: 20px;
    padding-right: 20px;
  }
  .working-process .accordion-item .accordian-numbers{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .m-rev {
    flex-direction: column-reverse;
  }
  .our_service-card li {
    max-width: 289px;
  }
  .mobile-show {
    display: block;
  }
  .desktop-show {
    display: none !important;
  }
  .mobile-show img {
    width: 90% !important;
    margin: 0 auto;
  }
  .mobile-show .row {
    gap: 41px !important;
    margin-top: 40px;
  }
  div.landing-right {
    margin-top: 20px;
    text-align: center !important;
  }
  .faq_section {
    padding: 0 10px;
  }
  .services_games_card:hover {
    border: dashed 1px #373737;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}
@media screen and (max-width: 575px) {
  .landing h4 img {
    position: absolute;
    left: -8px;
    bottom: 0px;
    width: 156px;
  }
  .logo img {
    width: 100px;
  }
  .hamburger > img{
    height: 45px;
  }
  .testimoniel_section .slider-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .services_games_col .services_games_card {
    border-right: transparent !important;
  }
  .services_games {
    padding: 0;
  }
  .about-section {
    padding-top: 60px  !important;
    padding-bottom: 60px !important;
  }
  .innovation_section {
    padding-top: 40px;
  }
  .services_games {
    margin-top: 50px;
  }
  .testimoniel_section {
    padding-top: 40px;
  }
  .innovation_section {
    padding: 0 10px;
    padding-top: 60px;
        padding-bottom: 60px;
  }

  .innovation_section .img-container {
    height: 280px;
  }
  .innovation_section .yellow-box,
  .innovation_section .green-box {
    height: 270px;
  }
    .innovation_right h6{
    font-size: 14px !important;
  }
  .innovation_right h4{
    font-size: 22px !important;
  }
  .development_section h3{
    font-size: 22px;
  }
  .development_section h4{
    font-size: 15px;
  }
  section.landing,
  .about-section,
  .our_service_section,
  .innovation_section,
  .faster_section,
  .development_section,
  .testimoniel_section,
  .faq_section,
  .customer_care {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .baner-right {
    width: 90%;
  }
  .flip-letter {
    font-size: 20px;
  }
  .services_games h3 {
    font-size: 18px;
  }
  .services_games h4{
    font-size: 25px;
  }
  .slider-section .slick-next {
    bottom: -55px;
}
.working-process .accordion-item .accordion-button{
  font-size: 16px;
}
.working-process .accordion-item .accordion-collapse .accordion-body{
  font-size: 14px;
}
 
}

@media screen and (max-width:400px) {
  .development_card_content .top img{
    width: 35px;
  }
  .development_section .icons img{
    width: 25px;
  }
  .innovation_section .img-container{
    margin-top: 30px;
    height: 255px;
  }
  .innovation_section .yellow-box, .innovation_section .green-box{
    height: 255px;

  }

}
@media screen and (min-width: 980px) {
  .learn-more {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .faster_section .img-container img:nth-child(2) {
    display: none;
  }
  .learn-more {
    display: none;
  }
  .mobile-show {
    display: none;
  }
  .desktop-show {
    display: block;
  }
  .services_games_col:nth-child(5) .services_games_card,
  .services_games_col:nth-child(6) .services_games_card,
  .services_games_col:nth-child(7) .services_games_card,
  .services_games_col:nth-child(8) .services_games_card {
    border-bottom: transparent !important ;
  }
  .text-gradient.wave-text {
    transform: translate(10px, -28px);
    letter-spacing: -2px;
    font-weight: 700;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .m-rev {
    flex-direction: column-reverse;
  }
  .our_service-card > div + div {
    font-size: 80px !important;
  }
  .our_service-card {
    padding: 250px 20px !important;
  }
  .our_service-card .bg-img img {
    position: relative !important;
    height: auto !important;
  }
  .our_service_section .title2 img {
    left: 52%;
  }
  .innovation_section .img-container {
    max-height: 100%;
    height: 100%;
  }
  .innovation_section .img-container img {
    position: relative;
  }
  .mobile-show {
    display: block;
  }
  .desktop-show {
    display: none !important;
  }
  .development_section .development_card .bg-img img {
    width: 100%;
  }
  .development_card_content .top {
    font-size: 24px;
    padding: 26px 0 40px 20px;
  }
  .development_card_content .top img {
    width: 80px;
  }
  .development_card_content p {
    margin: 27px 0;
    line-height: 37px;
    font-size: 18px;
  }
  .development_section .icons img {
    width: 55px;
  }
  .slider-section .slick-prev {
    left: 40%;
  }
  .team-strenth {
    width: 100px;
  }
  .services_games_col:nth-child(2) .services_games_card,
  .services_games_col:nth-child(6) .services_games_card,
  .services_games_col:nth-child(4) .services_games_card,
  .services_games_col:nth-child(8) .services_games_card {
    border-right: transparent !important ;
  }

  .landing h2:nth-child(3) {
    font-size: 40px;
  }
  .landing p {
    font-size: 18px;
  }
  .logo img {
    width: 200px;
  }
  .landing {
    padding: 80px 50px 0 50px;
  }
  .baner-right {
    width: 100%;
    height: 600px !important;
  }
  .about-section {
    padding-bottom: 40px;
  }
  .mobile-show {
    padding: 0 60px;
    margin-top: 50px;
  }
  .mobile-show img {
    height: 500px;
  }
  .about-right h3 {
    font-size: 30px;
  }
  .about-right p {
    font-size: 16px;
  }
  .about-right .about-conntainer span {
    font-size: 20px;
  }

  /* .services_games_card:hover , .services_games_card:hover{
    border: dashed 1px #373737;
  } */
  .services_games_col:nth-child(even) .services_games_card:hover {
    border-left: dashed 1px #373737 !important;
    border-bottom: dashed 1px #373737 !important;
    border-top: dashed 1px transparent !important;
  }
  .services_games_col:nth-child(odd) .services_games_card:hover {
    border-left: transparent 1px !important;
    border-right: dashed 1px #373737 !important;
    border-bottom: dashed 1px #373737 !important;
    border-top: dashed 1px transparent !important;
  }
  .faster_section .img-container {
    max-height: max-content;
  }
  .innovation_right h6 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .innovation_right h4 {
    margin-top: 0;
  }
  .innovation_right p {
    font-size: 18px;
    margin-bottom: 0;
  }
  .development_section {
    padding: 0 80px;
  }
  .accordion-button::before {
    display: block;
    left: 6%;
  }
  /* .innovation_section  .img-container img:nth-child(4){
    display: block !important;
  } */
  /* .innovation_section.active  .img-container img:nth-child(){
    display: none !important;
  }
  .innovation_section.active  .img-container img:nth-child(1){
    display: none;
  } */
}

@media (min-width: 1025px) and (max-width: 1400px) {

  .about-right {
    padding-left: 10px !important;
  }
  .about-main img {
    height: 400px;
  }
  .team-strenth {
    width: 155px;
    right: 20px;
  }
  .bg-about {
    padding: 116px 0px;
    background-size: 100%;
  }
  .about-conntainer img {
    width: 50px;
  }
  /* .our_service-card > div{
        height: 44px;
    }
    .our_service-card li{
        line-height: 20px;
    } */
}

@media (min-width: 1025px) and (max-width: 1200px) {
  div.bg-about {
    padding: 66px 0;
  }
}

@media (min-width: 1300px) {
  .services_games_col:nth-child(4) .services_games_card,
  .services_games_col:nth-child(8) .services_games_card {
    border-right: 0px;
  }
  .our_service-card {
    border-bottom-left-radius: 0px;
  }
  .build-p {
    display: block;
    height: 100px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: none;
    padding: 3px;
  }
  .hacker-p {
    display: block;
    height: 100px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: none;
    padding: 3px;
  }
}
@media (min-width: 1025px) and (max-width: 1350px) {
  .our_service-card li {
    font-size: 16px;
    padding: 6px 0;
    line-height: 24px;
  }
  .our_service-card .bg-img img {
    height: 345px;
  }
  .development_card_content .top img {
    width: 45px;
  }
  .development_card_content .top {
    font-size: 18px;
  }
  .slider-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .slider-section .slick-prev {
    left: 43%;
  }
  .gradient_box {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 990px) {
  nav ul {
    gap: 15px;
    align-items: center;
  }
  nav ul li {
    align-items: center;
    height: 35px;
  }
  .desktop ul li:last-child a {
    padding: 5px !important ;
  }

  .container,
  .container-md,
  .container-sm {
    max-width: 800px !important;
  }
}
