@media screen and (max-width: 1024px) {
    .logo img {        width: 150px;
        
    }
}
@media screen and (max-width: 768px) {

}
@media only screen  and  (width: 1640px) and (height:2360px){
    .desktop-ss{
        display: none !important;
    }
}
@media screen and (width: 540px) and (height:720px){
    .para-banner {
        padding: 0px 100px 0px 100px !important;
    }
    .about-2 .card-bg-about-1 {
        background-image: linear-gradient(to right, #172211, #010C12) !important;
          padding: 30px 0px 10px 10px;
          margin-left: 10px;
          border: 2px solid green;
          border-radius: 25px;
          width: auto;
        } 
    .desktop-ss{
        display: block !important;
    }
}
@media screen and (max-width: 575px) {
.desktop-ss{
    display: none !important;
}
.card-about-mobile{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-2 .header-underline-2 {
    margin-top: -20px !important;
    width: 270px;
    margin-left: 20px !important;
}
  .about-2 .card-bg-about {
    height: auto !important;
  }
  .our-services-1 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Barlow", sans-serif;
    color: #ffffff;
    letter-spacing: -2px;
}
.circle-mob{
    width: 100% !important;
}
}
@media screen and (min-width: 980px) {

}
@media screen and (min-width: 1025px) {

}
@media screen and (min-width: 820px) and (max-width: 1180px) {
    .right-up-arrow {
        display: block;
    }
    .left-up-arrow {
        display: block;
    }
    .arrow-right-content-1 {
        display: flex !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: flex-end;
        width: 35% !important;
    }
    .arrow-left-content-1 {
        display: flex !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: flex-end;
        width: 35% !important;
    }
    .arrow-left-content {
        display: flex !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: flex-end !important;
        width: 17% !important;
        text-wrap: nowrap;
    }
    .arrow-right-content {
        display: flex !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: flex-end !important;
        width: 17% !important;
        text-wrap: nowrap;
    }
    .top-right-bg {
        height: 200px !important;
        margin-left: 43%;
        margin-top: -110px !important;
    }
    .about-banner-btn {
        display: block !important;
    }
    .row-content-about {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 25px !important;
        height: 75px !important;
    }
    .mobile-view-root{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
      .mobile-view-root > div{
        height: 200px;
        width:  200px;
        top: 0 !important;
      }
      .mobile-view-root > div .bg-yellowish{
        top: -98px;
        left: -12px;
        transform: translate(0);
      }
      .mobile-view-root > div .minute-hand{
        top: -59px !important;
        left: 25px !important;
        transform: translate(0) !important;
      }
      
      .mobile-view-root > div .icon-service{
        top: -28px;
        left: 53px;
        transform: translate(0);
      }
    .text-content {
        padding: 20px 150px 20px 150px;
     } 
    .card-row-align{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .mobile-view-card1{
        display: none !important;
      }
      .card-about-desktop{
        display: none !important;
      }
      .card-about-mobile{
        display: block !important;
      }
    .circle-mob{
        display: none !important;
    }
    .circle-tab{
        display: block !important;
        width: 100% !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .right-up-arrow {
        display: block;
    }
    .left-up-arrow {
        display: block;
    }
    .arrow-right-content-1 {
        display: flex !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: flex-end;
        width: 35% !important;
    }
    .arrow-left-content-1 {
        display: flex !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: flex-end;
        width: 35% !important;
    }
    .arrow-left-content {
        display: flex !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: flex-end !important;
        width: 17% !important;
        text-wrap: nowrap;
    }
    .arrow-right-content {
        display: flex !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: flex-end !important;
        width: 17% !important;
        text-wrap: nowrap;
    }
    .top-right-bg {
        height: 200px !important;
        margin-left: 43%;
    }
    .about-banner-btn {
        display: block !important;
    }
    .row-content-about {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 25px !important;
        height: 75px !important;
    }
    .about-1 h4 {
        font-size: 44px !important;
        background: linear-gradient(270.23deg, #c7fb15 0%, #ccff14 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        padding: 0px !important;
      }
     .text-content {
        padding: 20px 150px 20px 150px;
     } 
    .believe-h1 span {
        font-size: 40px !important;
        text-align: center;
    }
    .believe-h1 {
        font-size: 40px !important;
        text-align: center;
    }
    .mobile-view-card1{
        display:  block !important;
    }
.desktop-ss{
    display: none !important;
}
    .para-banner{
        padding: 0px !important;
    }
    .bottom-bg .col-md-6 {
        flex: 0 0 auto;
        width: 56% !important;
    }

    .card-about-mobile .col{
        margin-top: 20px !important;
    }
          .card-about-desktop{
        display: none !important;
      }
    .circle-mob{
        display: none !important;
    }
    .circle-tab{
        display: block !important;
        width: 100% !important;
    }

    .bg-background .row .col-md-5{
        width: 50% !important;
    }
    .about-2 .card-bg-about {
        background: #121212 !important;
        /* border-image: url(/unitywebsites/assets/img/scroll-project.png); */
        width: auto;
        height: auto !important;
        background-repeat: no-repeat;
        background-size: 100%;
        padding-bottom: 110px !important;
        padding-top: 10px !important;
        margin-top: 30px !important;
      }
      .computer_section_bg {
        /* background: url(/unitywebsites/assets/img/mobile-bg-h-650.svg) !important; */
        background-image: linear-gradient(to right, #232921, #202220) !important;
        border: 2px solid #343734;
        border-radius: 25px;
        height: auto !important;
        width: auto !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        padding: 20px;
    }
    
    /* .img-container-system img{
  display: none;
    } */
      /* Triangle Image (Top-Left Corner) */
      .triangle-img {
        position: absolute;
        top: -38px;
        left: 18px;
        z-index: 1;
        width: 150px;
        height: 150px;
    }
  .computerwidsp{
    opacity: .6 !important;
  }
  .star-img-3 {
    position: absolute;
    bottom: -15px;
    right: 40px;
    width: 150px;
    z-index: 5 !important;
    opacity: .6 !important;
}
  /* Computer Image (Position it normally) */
  .computer-img {
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    z-index: 2; /* Ensure the computer is below the other images */
    height: 370px !important;
  }
  
  .triangle-img-green{
    position: absolute;
    top: 52px;
    left: 18px !important; /* Adjust the size as needed */
    z-index: 1;
  }
  .right-content-system:hover .triangle-img {
    transform: rotate(270deg);
    position: absolute;
    top: -30px;
    left: 58px;
    z-index: 1;
}
  .right-content-system:hover .star-img-3 {
    z-index: 1;
    opacity: 1 !important;
  }
  .computer_section .right-content-system {
    padding: 40px 10px 10px 10px !important;
}
    .last-img{
        display: block !important;
        margin: 10px 30px 0px 30px !important;
    }
    .img-container-service {
        display: block !important;
    }
    .img-container-service {
        position: relative;

        height: auto !important;
        cursor: pointer;
    }
    .img-container-service img {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        top: 0;
        left: 0;
        z-index: 3;
    }
    .img-container-service:hover .green-box-service {
        height: 100% !important;
        width: 100% !important;
        background: #14ff87;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transform: rotate(3deg) !important;
        transition: ease 0.3s;
        border-radius: 25px;
    }
    .img-container-service:hover .yellow-box-service {
        height: 100% !important;
        width: 100% !important;
        background: #cafe15;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: rotate(-3deg) !important;
        transition: ease 0.3s;
        border-radius: 25px;
    }
    .mobile-star{
        display:  block !important;
    }
    .star-bottom-img {
        position: absolute !important;
        right: 50px !important;
        bottom: -11px !important;
        width: 100px !important;
        height: auto !important;
        /* padding-bottom: 20px; */
        transform: rotate(-3deg);
        z-index: 2;
    }
    .computer_section_bg_2 {
        /* background: url(/unitywebsites/assets/img/mobile-bg-h-650.svg) !important; */
        background-image: linear-gradient(to right, #232921, #202220) !important;
        border: 2px solid #343734;
        border-radius: 25px;
        height: auto !important;
        width: auto !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        padding: 20px;
    }
    .computer_section_bg_3 {
        /* background: url(/unitywebsites/assets/img/mobile-bg-h-650.svg) !important; */
        background-image: linear-gradient(to right, #232921, #202220) !important;
        border: 2px solid #343734;
        border-radius: 25px;
        height: auto !important;
        width: auto !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        padding: 20px;
    }
    /* .img-container-system img{
        height: 445px !important;
        width: 100% !important;
    } */
    .mobile-view{
        display: none;
    }
    /* .desktop-ss{
        display: block !important;
    } */
    .about-2 .card-bg-about-1 {
        background-image: linear-gradient(to right, #172211, #010C12) !important;
          padding: 30px 0px 10px 10px;
          margin-left: 10px;
          border: 2px solid green;
          border-radius: 25px;
          width: auto;
          height: auto !important;
        } 
        /* .mobile-view-card1{
            display: none !important;
        } */
        /* .img-container-service img{
            display: block !important;
        }
        .computer-img{
             border-radius:25px !important ;
        } */
        .computer_section_bg {
            /* background: url(/unitywebsites/assets/img/mobile-bg-h-650.svg) !important; */
            background-image: linear-gradient(to right, #232921, #202220) !important;
            border: 2px solid #343734;
            border-radius: 25px;
            height: auto !important;
            width: auto !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            padding: 20px;
        }
        .card-bg-about:hover img.scroll-bg {
            /* background: url(/unitywebsites/assets/img/scroll-gif.gif) no-repeat center center; */
            background-size: cover;
            /* height: 500px !important; */
            width: 500px;
            padding: 0px !important;
            border-image: linear-gradient(270.23deg, #c7fb15 0%, #ccff14 100%);
            transform: scale(1) !important;
          }
          img.scroll-bg {
            /* background: url(/unitywebsites/assets/img/scroll-gif.gif) no-repeat center center; */
            background-size: cover;
            /* height: 500px !important; */
            width: 500px;
            padding: 0px !important;
            border-image: linear-gradient(270.23deg, #c7fb15 0%, #ccff14 100%);
      transition: none;
          }
          .project-img {
            position: absolute;
            /* left: 10%; */
            z-index: 2;
            width: 500px;
            height: 533px;
            padding: 0px !important;
            transition: none;
          }
          .card-bg-about:hover .project-img {
            position: absolute;
            /* left: 10%; */
            z-index: 2;
            width: 500px;
            height: 533px;
            padding: 0px !important;
            transform: scale(1) !important;
          }
          .our-services-1 {
            font-size: 24px;
            font-weight: 600;
            font-family: "Barlow", sans-serif;
            color: #ffffff;
            margin-top: -120px;
            letter-spacing: -2px;
        }
        .about-2 .header-underline-2 {
            margin-top: -40px;
            margin-left: 10px;
            width: 470px;
        }
        .about-2 .header-underline-1 {
            width: 570px !important;
            margin-left: 36px;
            margin-top: -30px;
        }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  
}

@media (min-width: 1025px) and (max-width: 1200px) {

}

@media  (min-width: 1300px) {


}
@media (min-width: 1024px) and (max-width: 1370px) {
    .about-2 .header-underline {
        text-align: center !important;
        margin-left: 40% !important;
    }
    .card-bg-about-1 h6 {
        margin: 0px 0px 30px 135px !important;
    }
    .about-1 h4 {
        font-size: 44px !important;
        background: linear-gradient(270.23deg, #c7fb15 0%, #ccff14 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        padding: 0px !important;
      }
    .mobile-view-root{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
      .mobile-view-root > div{
        height: 200px;
        width:  200px;
        top: 0 !important;
      }
      .mobile-view-root > div .bg-yellowish{
        top: -98px;
        left: -12px;
        transform: translate(0);
      }
      .mobile-view-root > div .minute-hand{
        top: -59px;
        left: 25px;
        transform: translate(0);
      }
      
      .mobile-view-root > div .icon-service{
        top: -28px;
        left: 53px;
        transform: translate(0);
      }
    .text-content {
        padding: 20px 150px 20px 150px;
     } 
    .about-2 .card-bg-about-1 {
        background-image: linear-gradient(to right, #172211, #010C12) !important;
        padding: 30px 0px 40px 10px !important;
        margin-left: 10px;
        border: 2px solid green;
        border-radius: 25px;
        width: auto;
    }
.circle-services{
    display: none !important;
}
.circle-tab-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.plus-bg-1{
    display: none !important;
}
.plus-bg{
    display: none !important;
}
.our-services-1{
    text-align: center !important;
    letter-spacing: -2px;
}
.about-2 .header-underline-2{
    margin-left: 22% !important;
    text-align: center !important;
}
.header-underline-1{
    text-align: center !important;
}
.about-2 .believe-h1{
    text-align: center;
    font-size: 40px !important;
}
.our-services{
    text-align: center !important;
    margin-top: 0px !important;
}
.about-2 .header-underline{
    text-align: center !important;
    margin-left: 41% !important;
}
.project-img {
    position: relative !important;
    /* left: 10%; */
    z-index: 2;
    width: 820px;
    height: 700px;
    padding: 40px 20px 0px 0px;
}
.card-bg-about-1{
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center;
}
.card-bg-about-1 .scroll-bg{
    width: 820px !important;
    height: 700px !important;
}
.card-bg-about-1 .col-lg-6 {
    /* flex: 0 0 auto; */
    width: 100% !important;
}
.about-2 .text-heading {
    padding: 60px 190px 0px 190px !important;
    font-family: "Barlow", sans-serif;
    justify-content: center !important;
    text-align: center !important;
}
.about-2 .para-about-ipad{
    padding: 20px 190px 0px 190px !important;
    font-family: "Barlow", sans-serif;
    justify-content: center;
    text-align: center !important;
}
.about-2 ul li {
    font-family: "Barlow", sans-serif;
    padding: 20px 210px 0px 190px !important;
    color: #ffffff;
    list-style: none;
    text-align: center !important;
}
.bi-dot{
    display: none !important;
}
.about-2 .our-services-1 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    color: #ffffff;
    margin-top: 0px !important;
    letter-spacing: -2px;
}
.about-2 .header-underline-1 {
    margin-top: -40px;
    margin-left: 16% !important;
    width: 680px;
}
 }
 @media (min-width: 912px) and (max-width: 1368px) {
    .card-bg-about-1 h6 {
        margin: 0px 0px 30px 15px;
    }
    .top-left-bg {
        left: 0 !important;
        top: 0 !important;
        margin-top: -130px !important;
        opacity: 1;
    }
    .div_img{
        display: none !important;
    }
    .div_img_mob{
        display: block !important;
    }
    .mobile-view-root{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
      .mobile-view-root > div{
        height: 200px;
        width:  200px;
        top: 0 !important;
      }
      .mobile-view-root > div .bg-yellowish{
        top: -98px;
        left: -12px;
        transform: translate(0);
      }
      .mobile-view-root > div .minute-hand{
        top: -59px !important;
        left: 25px !important;
        transform: translate(0) !important;
      }
      
      .mobile-view-root > div .icon-service{
        top: -28px;
        left: 53px;
        transform: translate(0);
      }
    .text-content {
        padding: 20px 150px 20px 150px;
     } 
    .computer_section_bg_3 {
        /* background: url(/unitywebsites/assets/img/mobile-bg-h-650.svg) !important; */
        background: #1C1C1C !important;
        background-size: cover !important;
        border:2px solid #404040;
        border-radius: 25px;
        background-repeat: no-repeat !important;
        height: auto !important;
        width: auto !important;
        padding: 20px;
    }
    .right-content-mobile {
        padding: 10px 30px 0px 30px !important;
    }
    .right-content-mobile {
        padding: 100px 30px 0px 30px !important;
    }
    .computer_section_bg_2 {
        /* background: url(/unitywebsites/assets/img/mobile-bg-h-650.svg) !important; */
        background-image: linear-gradient(to right, #232921, #202220) !important;
        border: 2px solid #343734;
        border-radius: 25px;
        height: auto !important;
        width: auto !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        padding: 20px;
    }
    .para-banner {
        padding: 0px !important;
    }
    .about-2 .card-bg-about-1 {
        background-image: linear-gradient(to right, #172211, #010C12) !important;
        padding: 30px 0px 40px 10px !important;
        margin-left: 10px;
        border: 2px solid green;
        border-radius: 25px;
        width: auto;
    }
.circle-services{
    display: none !important;
}
.circle-tab-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.plus-bg-1{
    display: none !important;
}
.plus-bg{
    display: none !important;
}
.our-services-1{
    text-align: center !important;
    letter-spacing: -2px;
}
.about-2 .header-underline-2{
    margin-left: 22% !important;
    text-align: center !important;
}
.header-underline-1{
    text-align: center !important;
}
.about-2 .believe-h1{
    text-align: center;
    font-size: 40px !important;
}
.our-services{
    text-align: center !important;
    margin-top: 0px !important;
}
.about-2 .header-underline{
    text-align: center !important;
    margin-left: 37%;
}
.project-img {
    position: relative !important;
    /* left: 10%; */
    z-index: 2;
    width: 600px;
    height: 500px;
    padding: 40px 20px 0px 0px;
}
.card-bg-about-1{
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center;
}
.card-bg-about-1 .scroll-bg{
    width: 600px !important;
    height: 500px !important;
}
.card-bg-about-1 .col-lg-6 {
    /* flex: 0 0 auto; */
    width: 100% !important;
}
.about-2 .text-heading {
    padding: 60px 70px 0px 70px !important;
    font-family: "Barlow", sans-serif;
    justify-content: center !important;
    text-align: center !important;
}
.about-2 .para-about-ipad{
    padding: 20px 70px 0px 70px !important;
    font-family: "Barlow", sans-serif;
    justify-content: center;
    text-align: center !important;
}
.about-2 ul li {
    font-family: "Barlow", sans-serif;
    padding: 20px 70px 0px 70px !important;
    color: #ffffff;
    list-style: none;
    text-align: center !important;
}
.bi-dot{
    display: none !important;
}
.about-2 .our-services-1 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    color: #ffffff;
    margin-top: 0px !important;
    letter-spacing: -2px;
}
.about-2 .header-underline-1 {
    margin-top: -40px;
    margin-left: 4% !important;
    width: 680px;
}
.about-2 .header-underline-2 {
    margin-top: -40px;
    margin-left: 13% !important;

}
 }