.computer_section{
    background-color: #121212;
}

.computer_section_bg_3{
    /* background: url(/unitywebsites/assets/img/rectangle-service-bg.svg) !important; */
    background: #1C1C1C !important;
    background-size: cover !important;
    border:2px solid #404040;
    border-radius: 25px;
    background-repeat: no-repeat !important;
    padding: 20px;
    height: 400px !important;
    /* background-image: linear-gradient(to right, #232921, #202220) !important; */
    
}
.computer_section{
    padding: 10px 0px 0px 0px !important;
}

.desk-img {
  border: 2px solid;
  border-top-color:  #cafe15;
  border-right-color:  #cafe15;
  border-bottom-color: #14ff87;
  border-left-color: #14ff87;
  border-radius: 25px;
}
.para-service{
  text-align: center;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
}
.div_img{
  position: relative;
  top: 15%;
}
.div_img_mob{
  position: relative;
  top: 15%;
}
.minute-hand { 
  height: auto;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateIcon 25s linear infinite; /* Rotate infinitely every 3 seconds */
}

.icon-service {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  transform: translate(150%, 30%);
  z-index: 2;
}
.icon-bg {
  position: relative;
  z-index: 3;
  top: 50%;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* Complete a full rotation */
  }
}

/* wave animation */
.minute-hand{
  transition: opacity 0.3s ease;
}

.computer_section_bg_3:hover .minute-hand{
  display: none !important;
}

.computer_section_bg_3:hover .circle {
  animation: wave 1s ease-in-out infinite;
}

.div_img {
  position: relative;
}
.div_img_mob {
  position: relative;
}
.minute-hand {
  height: auto;
  position: absolute;
  top: -25px;
  left: 30%;
  transform: translate(150%, 30%);
  animation: rotateIcon 25s linear infinite;
}

.icon-service {
  position: absolute;
  height: auto;
  top: -25px;
  left: 0;
  transform: translate(150%, 30%);
  z-index: 3;
}

.icon-bg {
  position: relative;
  z-index: 4;
  top: 50%;
}
.computer_section_bg_3 .circle, 
.computer_section_bg_3 .delay1, 
.computer_section_bg_3 .delay2, 
.computer_section_bg_3 .delay3, 
.computer_section_bg_3 .delay4 {
  animation-play-state: paused; /* Prevent animation from running initially */
}

.computer_section_bg_3:hover .circle, 
.computer_section_bg_3:hover .delay1, 
.computer_section_bg_3:hover .delay2, 
.computer_section_bg_3:hover .delay3, 
.computer_section_bg_3:hover .delay4 {
  animation-play-state: running; /* Start the animation only on hover */
}
/* Circle and delay positioning */
.computer_section_bg_3:hover .icon-service {
  position: absolute;
  height: auto;
  top: -25px;
  left: 0;
  transform: translate(150%, 30%);
}

.computer_section_bg_3 .circle, 
.computer_section_bg_3 .delay1, 
.computer_section_bg_3 .delay2, 
.computer_section_bg_3 .delay3, 
.computer_section_bg_3 .delay4 {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 110px;
  width: 110px;
  background-color: transparent;
  border: 2px solid yellow;
  z-index: 1;
  opacity: 0; /* Hidden initially */
  transition: opacity 0s ease-in-out;
}

.bg-yellowish {
  position: absolute;
  top: -25px;
  left: 20%;
  transform: translate(0, -20%);
  z-index: -1; /* Highest z-index so it's behind everything */
  height: auto;
}

.computer_section_bg_3:hover .delay1 {
  animation: waves 2s linear infinite;
    animation-delay: .01s;
  visibility: hidden;
  top: 70%;
  left: 35%;
}

.computer_section_bg_3:hover .delay2 {
  animation: waves 2s linear .7s infinite forwards;
  top: 70%;
  left: 35%;
}

.computer_section_bg_3:hover .delay3 {
  animation: waves 2s linear 1.3s infinite forwards;
  top: 70%;
  left: 35%;
}

.computer_section_bg_3:hover .delay4 {
  animation: waves 2s linear 1.9s infinite forwards;
  top: 70%;
  left: 35%;
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.2;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.text-content{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  top: 60%;
  z-index: 5;
  position: relative;
}
.text-content h1{
  font-size: 24px !important;
}
.text-content h1 span{
  font-size: 24px !important;
}
.service-para{
  color:#ffffff;
  opacity: .8;
  font-size: 14px;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.service-para span{
  color:#ffffff;
  opacity: .8;
  font-size: 14px;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  text-align: center;
}
.text-content p{
  color:#ffffff;
  opacity: .8;
  font-size: 14px;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  padding: 5px 20px 20px 20px;
}
.card-row-align{
  display: flex !important;
  column-gap: 15px;
  flex-wrap: nowrap !important;
}
 @media  screen and (min-width:0px) and (max-width:900px) {
  .text-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    top: 40px;
    z-index: 5;
    position: relative;
}
.icon-bg {
  position: relative;
  z-index: 4;
  top: 50%;
}

  .div_img_mob{
    display: block !important;
  }
  .div_img{
    display: none;
  }
  .div_img:hover .circle{
   display:none;
  }
  .div_img:hover .minute-hand { 
  display: block !important;
  }
  .card-row-align{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
}
 
.computer_section_bg_3{
  /* background: url(/unitywebsites/assets/img/mobile-bg-h-650.svg) !important; */
  /* background-image: linear-gradient(to right, #232921, #202220) !important; */
  background:#1C1C1C !important;
  border:2px solid #404040;
  border-radius: 25px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  padding: 10px;
  height: 450px !important;
}
.computer_section {
  padding: 10px 10px 10px 20px !important;
}
.mobile-view-root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.mobile-view-root > div{
  height: 200px;
  width:  200px;
  top: 0 !important;
}
.mobile-view-root > div .bg-yellowish{
  top: -98px;
  left: -17px;
  transform: translate(0);
}
.mobile-view-root > div .minute-hand{
  top: -59px;
  left: 25px;
  transform: translate(0);
}

.mobile-view-root > div .icon-service{
  top: -28px;
  left: 53px;
  transform: translate(0);
}
.service-para {
  color: #ffffff;
  opacity: .8;
  font-size: 14px;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 0px 10px !important;
  flex-direction: column;
}





 }
 @media screen and (min-width:900px) and (max-width:2000px)  {
.div_img_mob{
  display: none !important;
}
.icon-bg:hover .minute-hand {
  opacity: 0;
}
 }