@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--theme_black) !important;
}

/* home page start  */

.landing {
  padding: 80px 0 100px 0;
  color: var(--white);
  position: relative;
  overflow: hidden;
}

.landing h4 {
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
  margin: 20px 0;
  position: relative;
  letter-spacing: -1px;
}
.landing h2 {
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
  margin-top: 0;
}

.landing h4 img {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 175px;
}

.landing p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  transition: ease 2s;
}

.landing a.fadep {
  width: fit-content;
  padding: 10px 30px;
  /* color: var(--white) !important; */
  text-decoration: none;
  opacity: 1 !important;
}
.floating-container {
  opacity: 0;
  transition: ease 0.5s;
}
.floating-container.active {
  opacity: 1;
}
.baner-right {
  width: 80%;
  /* opacity: 0 !important; */
}

.bounce-1 {
  position: absolute;
  width: 170px;
  top: -80px;
  left: 100px;
  z-index: 1;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float3 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-35px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: rotate(240deg) translatex(0px);
  }
  50% {
    transform: rotate(240deg) translate(10px, -30px);
  }
  100% {
    transform: rotate(240deg) translatex(0px);
  }
}

.bounce-2 {
  width: 130px;
  position: absolute;
  bottom: -100px;
  right: 24px;
  transform: translate(10%, 7px);
  animation: float 4s ease-in-out infinite;
  opacity: 0;
}
.bounce-2.visible {
  opacity: 0.6;
}
.bounce-small {
  width: 80px;
  height: 80px;
  bottom: -40px;
  right: 60px;
  animation: float3 4s ease-in-out infinite;
  opacity: 0;
  transition: ease 0.3s;
}
.bounce-small.visible {
  opacity: 0.6;
}

.bounce-3 {
  width: 100px;
  position: absolute;
  top: 0;
  height: 100px;

  right: 0;
  /* transform: translate(10%, 7px); */
}

.bounce-4 {
  width: 130px;
  position: absolute;
  top: 34%;
  height: 100px;
  right: -45px;
  transform: translate(0, 0);

  animation: float2 4s ease-in-out infinite;
  transform: rotate(240deg);
}

.bounce-5 {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 0);
}

.text-gradient,
.text-gradient span,
.testimoniel_section h4 span:nth-child(2),
.testimoniel_section h4 span:nth-child(6) {
  color: #c7fb15;
}

/* home page  end */

.about-section {
  color: var(--white);
  cursor: pointer;
  padding: 80px 0;
}

.team-strenth {
  position: absolute;
  right: 11px;
  top: 50px;
  width: 180px;
  transition: ease 0.5s;
  /* padding: 34px;
    border: solid red;
    border-radius: 24px; */
}
.bg-about:hover .team-strenth {
  transform: rotate(20deg) !important;
}
.team-strenth img:nth-child(2) {
  display: none;
}
.about-main img {
  height: 500px;
  width: 90%;
}
.about-main img:nth-child(2) {
  display: none;
}
.bg-about:hover .team-strenth img:nth-child(2) {
  display: block;
}
.bg-about:hover .team-strenth img:nth-child(1) {
  display: none;
}

.bg-about:hover .about-main img:nth-child(2) {
  display: block;
}
.bg-about:hover .about-main img:nth-child(1) {
  display: none;
}
.bg-about {
  background: url("../img/about-bg.svg") no-repeat;
  background-size: contain;
  padding: 115px 0px;
  margin-top: -25px !important;
}

.about-right {
  padding-left: 80px !important;
}
.about-right h3 {
  font-size: 40px;
  font-weight: 700;
  max-width: 450px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.about-right p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
  max-width: 500px;
}

.about-right .about-conntainer span {
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}
.about-conntainer div {
  margin: 10px 0;
}

/* about end  */
/* our_service_section start  */
.our_service_section .title2 {
  letter-spacing: -2px;
}
.our_service_section {
  color: white;
}

.our_service_section .title2 img {
  left: -17px;
  width: 185px;
  bottom: -14px;
}

.our_service_section h3 {
  font-weight: 700;
  font-size: 35px;
  margin: 30px 0 40px 0;
}
.width-fit {
  width: fit-content;
}

.our_service-card {
  position: relative;
  cursor: pointer;
  padding: 15px;
  border: solid var(--theme_black) 1px;
  transform: rotateY(90deg);
}
.our_service-card1.flip {
  transition: ease 0.1s;
  transform: rotateY(0deg);
}
.our_service-card2.flip {
  transition: ease 0.1s;
  transform: rotateY(0deg);
}
.our_service-card3.flip {
  transition: ease 0.1s;
  transform: rotateY(0deg);
}

.our_service-card img {
  transition: ease 1s;
  position: absolute;
  width: 100%;
  object-fit: contain;
  left: 0;
  height: 100%;
  top: 0;
}
.our_service-card > div {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  position: relative;
  z-index: 10;
}

.our_service-card img:nth-child(2) {
  opacity: 0;
}
.our_service-card:hover img:nth-child(1) {
  opacity: 0;
}
.our_service-card:hover img:nth-child(2) {
  opacity: 1;
}

.our_service-card {
  padding: 18.5px 20px;

  overflow: hidden;
  border-radius: 27px;
  z-index: 2;
  transition: ease 0.5s;
}

.our_service-card ul {
  padding-left: 45px;
  margin-bottom: 50px;
  z-index: 10;
  position: relative;
}

.our_service-card li {
  font-size: 18px;
  padding: 10px 0;
  line-height: 28px;
  opacity: 0.6;
}

.our_service-card::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 1000px;
  height: 1000px;
  transition: transform 0.5s ease, opacity 0.5s ease; /* Animate transform and opacity */
  background: rgb(20, 255, 135);
  background: linear-gradient(
    277deg,
    rgba(20, 255, 135, 1) 60%,
    rgba(202, 254, 21, 1) 98%
  );
  border-radius: 50%;
  transform: translate(27%, 26%); /* Starting position */
  z-index: -100;
  opacity: 1; /* Initial opacity */
}

.our_service-card:hover::after {
  transform: translate(-16%, -13%); /* New position on hover */
  opacity: 0.3; /* You can change opacity if needed */
}

/* Optional: Transition back smoothly when hover ends */
.our_service-card {
  transition: transform 0.5s ease, opacity 0.5s ease; /* Make the card smoothly transition */
}
.our_service-card .bg-img img:nth-child(2) {
  display: none;
}

.our_service-card:hover .bg-img img:nth-child(1) {
  display: none;
}
.our_service-card:hover .bg-img img:nth-child(2) {
  display: block;
}

.our_service-card .bg-img {
  height: 402px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  width: calc(100% + 1);
}
.our_service-card .bg-img img {
  width: 100%;
  height: 402px;
}
/* our_service_section end  */
/* INNOVATION start  */

.innovation_section {
  color: var(--white);
  padding: 120px 0;
  padding-top: 150px;
}
.innovation_section .title2 img {
  left: 0;
  width: 385px;
}
.innovation_section h6 {
  padding: 5px 0;
  font-size: 20px;
}

.innovation_section h4 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 15px 0;
}
/* max-height: 36px;
  overflow: hidden; */

.innovation_section p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 20px;
  transition: ease 0.5s;
}

.innovation_section a {
  padding: 10px 45px;
}

.innovation_section div {
  border-radius: 20px;
}
.green-box {
  width: 100%;
  height: 100%;
  background: #14ff87;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: rotate(5deg);
  transition: ease 0.3s;
}
.yellow-box {
  width: 100%;
  height: 100%;
  background: #cafe15;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(-5deg);
  transition: ease 0.3s;
}

.img-container {
  position: relative;
  max-height: 500px;
  height: 400px;
  cursor: pointer;
}

.img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.img-container:hover .yellow-box {
  transform: rotate(5deg);
}
.img-container:hover .green-box {
  transform: rotate(-5deg);
}
.innovation_right {
  padding-left: 70px !important;
}
/* INNOVATION end  */
/* faster_section start  */
.faster_section {
  color: var(--white);
  padding: 100px 0;
}

.faster_section .title2 span {
  display: inline-block;
}

.faster_section .title2 img {
  width: 500px;
}
.faster_section h6 {
  padding: 10px 0;
  /* margin-bottom: 20px; */
  text-transform: uppercase;
}
.faster_section h4 {
  margin: 15px 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.faster_section p {
  opacity: 0.7;
}
.faster_section .img-container {
  height: 450px;
}
.faster_section .img-container img:nth-child(3) {
  z-index: 5;
}
.faster_section .img-container img:nth-child(3) {
  width: 200px;
  height: 200px;
  z-index: 2;
  left: -81px;
  top: -49px;
  z-index: 2;
}

.img-container-2 img {
  width: 100%;
  height: auto;
  position: relative;
  opacity: 0.8;
}
.img-container-2 {
  height: auto;
  width: 250px;
  position: absolute;
  bottom: 56px;
  right: 54px;
}

.img-container-2 img:nth-child(2) {
  display: none;
}
.faster_section .img-container:hover .img-container-2 img:nth-child(2) {
  display: inline-block;
  opacity: 0.9;
}
.faster_section .img-container:hover .img-container-2 img:nth-child(1) {
  display: none;
}

.gradient_box {
  background: rgb(202, 254, 21);

  border-radius: 20px;
  top: 0;
  left: 0;
  position: absolute;
  transition: ease 0.5s;
  width: 100%;
  height: 450px;
}

.img-container:hover .gradient_box {
  transform: rotate(9deg);
}
/* faster_section end  */
/* Development start  */
.development_section {
  color: var(--white);
}
.development_section h4 {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 20px;

  text-transform: uppercase;
}

.development_section h3 {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 80px;
}

.development_section .icons {
  display: flex;
  gap: 20px;
  /* padding-top: 20px; */
}
.development_section .icons img {
  width: 35px;
}
.development_card {
  position: relative;
  cursor: pointer;
  opacity: 0;
}
.development_card.aos-animate {
  opacity: 1;
}

.development_card_content {
  position: absolute;
  top: 0;
  padding: 20px;
  z-index: 2;
}
.development_card_content .top img {
  width: 60px;
  margin-right: 20px;
  opacity: 0 !important;
  transition: ease .5s;
}
.development_card.aos-animate .top img {
  opacity: 1 !important;
}

.development_card_content .top {
  font-size: 22px;
  font-weight: 600;
  background: url("../img/develope-gradient.svg");
  background-size: 100%;
  padding: 8px 10px;
  background-repeat: no-repeat;
}

.development_card_content p {
  margin: 15px 0;
  /* line-height: 34px; */
  font-size: 16px;
  opacity: 0.6;
}

/* .development_card:hover .top img:nth-child(2){
display: inline;

} */
.development_card:hover .top img {
 backface-visibility: hidden;  /* Hide the back of the element when flipping */
  transform-style: preserve-3d;
  transition: opacity .5s ease, transform .5s ease;
}

/* Initial state: The first image is visible, and the second image is hidden */
/* Initial state: The first image is visible, and the second image is hidden */
/* .development_card .top img{
  position: absolute;
} */
.development_card .top img:nth-child(1) {
  opacity: 1;
  visibility: visible;
  transform: rotateY(0deg);
  transition: opacity .5s ease, transform .5s ease;
  position: absolute;
}

.development_card .top img:nth-child(2) {
  opacity: 0;
  visibility: hidden;
  transform: rotateY(0deg);
  transition: opacity 1s ease, visibility 0s, transform .5s ease;
}

/* On hover: Hide the first image and show the second image with rotation */
.development_card:hover .top img:nth-child(1) {
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.development_card:hover .top img:nth-child(2) {
  opacity: 1;
  visibility: visible;
  transform: rotateY(360deg);
}

/* Development end  */
/* Development start  */
.testimoniel_section {
  color: var(--white);
  padding: 80px 0;
}
.testimoniel_section h4 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  text-transform: uppercase;
  text-transform: capitalize;
}

.testimoniel_section p {
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.6 !important;
}
.star-container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  column-gap: 15px;
  justify-content: center;
}

.slider-bg {
  position: relative;
  cursor: pointer;
}

.slider-content {
  position: absolute;
  top: 0;
  padding: 20px;
  z-index: 2;
}
.slider-content .coute {
  width: 40px;
  margin-bottom: 30px;
}
.slider-content h6 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  margin-left: 15px;
}
.slider-content p {
  text-align: left;
  font-size: 16px;
}
.slider-card {
  position: relative;
}

.slider-section .slick-arrow {
  position: absolute;
  bottom: -60px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
}
.slider-section .slick-arrow img {
  width: 48px;
  height: 45px;
}
.slick-arrow img:nth-child(1) {
  display: none;
}
.slick-arrow:hover img:nth-child(1) {
  display: inline;
}
.slick-arrow:hover img:nth-child(2) {
  display: none;
}

.slider-section {
  padding: 10px 0;
}
.slider-section .slick-prev {
  left: 45%;
  transform: translate(1px, -1px);
}
.slider-section .slick-next {
  left: 50%;
  transform: translate(1px, -1px);
}

.slider-section .slick-next {
  bottom: -60px;
}
/* Development end  */

/* faq start */
.faq_section {
  padding: 80px 0;
  text-align: center;
  color: var(--white);
}

.faq_section h2 {
  font-size: 34px;
  font-weight: 700;
}

.faq_section p {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
}

.working-process .accordion-item {
  border: 1px solid var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
  border-radius: 12px;
  overflow: hidden;
  /* padding: 20px; */
  background-color: #050505cc;
}
.accordion-button::before {
  content: "";
  height: 1px;
  width: calc(100% - 86px);
  background-color: #3d3d3da3;
  position: absolute;
  left: 3%;
  bottom: 0;
}

.working-process .accordion-item .accordion-button {
  background-color: #050505cc;
  padding: 20px 40px;
  border-bottom: 1px solid #050505cc;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  position: relative;
  color: #c7fb15 !important;
}
.working-process .accordion-item .accordion-button.collapsed::before {
  display: none;
}
.working-process .accordion-item .accordion-button.collapsed {
  color: var(--white) !important;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    326deg,
    rgb(255, 255, 255) 72%,
    rgb(255, 255, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border-bottom: transparent 1px solid; */
}

.working-process .accordion-item .accordion-collapse.collapse.show,
.working-process .accordion-item .accordion-collapse.collapse.show {
  transition: all 0.2s ease-in-out;
}

.working-process .accordion-item .accordion-button:not(.collapsed) {
  color: #cccccc;
  transition: all 0.2s ease-in-out;

  box-shadow: none;
}

.working-process .accordion-item .accordion-button:focus {
  box-shadow: none;
}

.working-process .accordion-item .accordion-collapse .accordion-body {
  padding: 20px 40px;
  opacity: 0.6;
}

.working-process .accordion-item .accordian-numbers {
  font-size: 18px;
  font-weight: 500;
  padding-right: 35px;
}
.working-process .accordion-body {
  color: white;
  text-align: left;
}
.accordion-button::after {
  /* background-image: none;
  font-family: "Font Awesome 6 Free";
  content: "\F4FE" !important;

  height: 35px;
  width: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; */

  color: #cccccc;
  background-image: none !important;
  border: solid 1px #2d2d2dde !important;
  padding: 15px;
  background-color: #111111;

  background-image: none;
  font-family: "Font Awesome 6 Free";
  content: "\f067" !important;
  height: 35px;
  width: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  background-color: var(--body-color);
  color: #cccccc;
  background-image: none !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: none !important;
  content: "\f068" !important;
  color: #c7fb15;
}

.working-process .accordion-item .collapsing {
  transition: all 0.3s ease-in-out;
}
.customer_care {
  color: var(--white);
}

.customer_care img {
  padding: 30px 0;
}

.customer_care_content {
  text-align: center;
  background: #212121;
  border-radius: 20px;
  padding-bottom: 30px;
}

.customer_care_content h5 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.customer_care_content p {
  font-size: 16px;
  font-weight: 400;
}

.customer_care_content button {
  margin: 0 auto;
  margin-top: 25px;
}
/* faq end */

/* service game_section  */

.services_games {
  color: var(--white);
  padding: 50px 0;
}
.services_games_card {
  border: dashed 1px #373737;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  text-align: center;
  padding: 35px 20px;
  cursor: pointer;
  transition: ease 0.5s;
  height: 100%;

  /* border-bottom-right-radius: 5px; */
}

.services_games_card h6 {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0;
}
.services_games_card img {
  width: 53px;
}

.services_games_card:hover {
  border: 1px solid #cafe15;
  transition: ease 0.5s;
  /* border-left:1px solid #CAFE15; */

  box-shadow: #cafe15 1px 3px 3.5px;
}
.services_games p {
  font-weight: 400;
  padding: 0;
  font-size: 16px;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  opacity: 0.6;
  line-height: 20px;
}
.services_games_col {
  transition: ease 0.5s;
  padding: 0 !important;
}
.services_games h3 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
}

.services_games h4 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 15px;
  text-align: center;
  padding-bottom: 50px;
}

.ss-content-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ss-content-6 h4 {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 600;
}
.about-section h3 {
  letter-spacing: -2px;
}

.about-main img:nth-child(3) {
  display: none;
}
.about-section h3 img {
  left: 0;
  width: 117px;
  opacity: 0;
  transition: ease 0.5s;
}
.fade-img-serv {
  opacity: 0;
  transition: ease 0.3s;
}
.fade-img-serv.visible {
  opacity: 1;
}
.about-section h3 img.visible {
  opacity: 1;
}

/* terms and condition  */

.terms-banner {
  padding-bottom: 100px;
}
.content-main {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.content-main h2 {
  font-weight: 700;
  font-size: 26px;
  padding: 10px 0;
}
.content-main p {
  line-height: 25px;
}
.content-main {
  background: var(--white);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 100px 0;
  overflow: hidden;
  position: relative;
}
.content-main .term-img {
  position: absolute;
  width: 200px;
  height: 200px;
}

.term-img:nth-child(1) {
  top: -100px;
}
.term-img:nth-child(2) {
  top: 10%;
  right: 0px;
}
.term-img:nth-child(3) {
  top: 15%;
  left: -20px;
  height: 250px;
}

.term-img:nth-child(4) {
  top: 40%;
  right: 0px;
}

.term-img:nth-child(5) {
  top: 50%;
  left: 0px;
  height: 250px;
}

.term-img:nth-child(6) {
  bottom: 30%;
  right: -20px;
}

.term-img:nth-child(7) {
  bottom: -100px;
  right: -33px;
  width: 200px;
}
